      
    <!-- Footer -->
    <footer id="footer" class="footer-page">
      <div class="container">
        <div class="row footer-informacion">
          <div class="col-lg-4">
            <a class="text-white logo" href="./">Click Online</a>
            <p class="text-light fw-300 parrafo-footer">Click Online ofrece una manera más sencilla de poder capacitarte 
              mediante cursos online en vivo, con simplemente crear una cuenta, tener un Dispositivo
              con acceso a internet y podras disfrutar el curso que hayas seleccionado.
            </p>
          </div>
          <div class="col-lg-4 espacio-reponsivo">
            <label for="" class="titulos-label">Atajos del Sitio Web</label>
            <ul class="list-redes list-group">
              <li class="list-group-item"><a href="./">- Inicio</a></li>
              <li class="list-group-item"><a href="#nosotros">- Nosotros</a></li>
              <li class="list-group-item"><a href="#online">- Online En vivo</a></li>
              <li class="list-group-item"><a href="#online">- Registrate</a></li>
              <li class="list-group-item"><a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">- Inicio Sesiòn</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <label for="" class="titulos-label">Únete a Nosotros</label>
              <ul class="list-redes list-group">
                <li class="list-group-item"><ion-icon class="text-white" name="mail"></ion-icon> Gmail</li>
                <li class="list-group-item"><ion-icon class="text-white" name="logo-facebook"></ion-icon> Facebook</li>
                <li class="list-group-item"><ion-icon class="text-white" name="logo-instagram"></ion-icon> Instagram</li>
              </ul>
          </div>
        </div>
      <div class="container-fluid">
        <p class="text-center fw-300 text-white">2021 ©Consultores Revolucionarios en Tecnologia de S.A.S de C.V</p>
      </div>
      </div>
    </footer>